pre {
  background-color: #f8f8f7;
}

code {
  background-color: transparent;
}

span.caption-text {
  text-transform: uppercase;
  color: #0083fb;
}

.wy-side-nav-search {
  background-color: #0083fb;
}