{% extends "base.html" %}

{% block announce %}
<!-- What you put here will be displayed as an announcement at the top of every page's header-->

<div class="eol-banner">
  <div class="eol-primary">
    <a href="https://fetch.ai/docs" class="eol-highlight">We are moving!</a>. This documentation is migrating to <a href="https://fetch.ai/docs">https://fetch.ai/docs</span>
  </div>
  <p class="eol-secondary">
    We will be not accepting any further updates to this page. We will keep this site up and running for the short term until all the content has been migrated. After which, users will be automatically redirected to the new docs site.
  </p>
</div>

{% endblock %}
