# Build Output
*build*/
*.pyc
*.db
CMakeCache.txt

# Merge Outputs
*.orig

nodes/
.ipynb_checkpoints/

# Legacy Editors
site/
\#*#
.\#*
*~
*.swp
.idea/
*.osm
tags

*.so

*.DS_Store
*.ipynb_checkpoints/

deploy.sh

build.py
