[submodule "aea"]
	path = aea
	url = https://github.com/fetchai/agents-aea
[submodule "ledger"]
	path = ledger
	url = https://github.com/fetchai/fetchd.git
[submodule "colearn"]
	path = colearn
	url = https://github.com/fetchai/colearn.git
