[submodule "aea"]
	path = aea
	url = https://github.com/fetchai/agents-aea
[submodule "ledger"]
	path = ledger
	url = https://github.com/fetchai/fetchd.git
[submodule "colearn"]
	path = colearn
	url = https://github.com/fetchai/colearn.git
[submodule "cosmpy"]
	path = cosmpy
	url = https://github.com/fetchai/cosmpy.git
[submodule "keplr-extension"]
	path = keplr-extension
	url = https://github.com/fetchai/keplr-extension
	branch = master
