[submodule "aea"]
	path = aea
	url = https://github.com/fetchai/agents-aea
[submodule "ledger"]
	path = ledger
	url = https://github.com/fetchai/fetchd.git
[submodule "colearn"]
	path = colearn
	url = https://github.com/fetchai/colearn.git
[submodule "cosmpy"]
	path = cosmpy
	url = https://github.com/fetchai/cosmpy.git
[submodule "cra-template-cosmjs-keplr"]
	path = cra-template-cosmjs-keplr
	url = https://github.com/fetchai/cra-template-cosmjs-keplr
        branch = main
