site_name: Fetch.AI Developer Documentation
# site_url:
site_description: Everything you need to know about Fetch.AI. 
repo_url: https://github.com/fetchai
repo_name: 'GitHub'
site_author: katharine.murphy@fetch.ai and ruth.brennan@fetch.ai

theme:
  name: 'material'
  feature:
    tabs: true  

# This theme does not seem support multiple nested levels.
#theme:
#  name: readthedocs
#  custom_dir: custom_theme/

nav:
  - Getting started:
    - "Installation": './getting-started/installation.md' 
    - "Submitting a contract": './getting-started/submitting_contract.md'
    - "Creating ERC20 contract": './getting-started/erc20.md'
    - "Creating ERC721 contract": './getting-started/erc721.md'
    - "Building a prediction agent": './getting-started/prediction_agent.md'    

#  - Smart Ledger:
#    - Getting started

  - Open Economic Framework:
    - Getting started

  - Etch Language:
    - Welcome:
        - "What's etch?": 'etch-language/index.md'
        - 'Getting started': 'etch-language/getstarted.md'
        - 'Debugging': 'etch-language/debug.md'
    - The basics:
        - 'Syntax': 'etch-language/syntax.md'
        - 'Variables': 'etch-language/variables.md'
        - 'Operators': 'etch-language/operators.md'
        - 'Logical operators': 'etch-language/logic.md'
        - 'Control flow': 'etch-language/control-flow.md'
        - 'Strings': 'etch-language/strings.md'
        - 'Arrays': 'etch-language/arrays.md'
        - 'Functions': 'etch-language/functions.md'
        - 'Error checking': 'etch-language/error-checking.md'
    - Smart contracts:
        - 'Introduction': 'etch-language/smart-contract-intro.md'
        - 'Executing smart contract code': 'etch-language/executing-smart-contract-code.md'
        - 'States': 'etch-language/states.md'
        - 'Memory': 'etch-language/memory.md'
        - 'Addresses': 'etch-language/addresses.md'
        - 'Transactions': 'etch-language/transactions.md'
        - 'Smart contracts': 'etch-language/smart-contracts.md'
    - Machine learning:
        - 'Machine learning and AI': 'etch-language/ML-AI.md'
        - 'Maths libraries and functions': 'etch-language/maths-libs.md'
    - Extending etch:
        - 'Extending etch in C++': 'etch-language/extending-etch.md'
    - Examples: 
        - 'Fetch logo': 'etch-language/examples/fetch-logo.md'
        - '2D array': 'etch-language/examples/2d-array.md'
        - 'Mandelbrot': 'etch-language/examples/mandelbrot.md'
        - 'Searching algorithms': 'etch-language/examples/searching-algorithms.md'
        - 'Sorting algorithms': 'etch-language/examples/sorting-algorithms.md'

markdown_extensions:
# - pymdownx.superfences
  - admonition

extra_css:
    - css/my-styles.css