site_name: Fetch.AI Developer Documentation
site_url: https://docs.fetch.ai/
site_description: Everything you need to know about Fetch.AI. 
repo_url: https://github.com/fetchai
repo_name: 'GitHub'
site_author: katharine.murphy@fetch.ai

theme:
  name: 'material'
  logo:
    icon: code
  custom_dir: custom_theme/
  favicon: '/assets/images/favicon.ico'
  feature:
    tabs: true  

# This theme does not seem support multiple nested levels.
#theme:
#  name: readthedocs
#  custom_dir: custom_theme/

nav:
  - Getting Started:
    - Installation: './getting-started/installation.md'
    - "Submit smart contract": './getting-started/submitting_contract.md'
    - "Creating FET-20 contract": './getting-started/erc20.md'
    - "Creating FET-721 contract": './getting-started/erc721.md'
#    - "Deploying an agent": './getting-started/prediction_agent.md'
 # - Smart Ledger:
 #   - Getting started: 'smart-ledger/placeholder.md'

  - Open Economic Framework:
    - Welcome:
      - "What is the OEF?": 'oef/index.md'
    - The Basics:
      - "Running a node" : 'oef/running-a-node.md'
      - "Get the SDK" : 'oef/sdk.md'
      - "Get a public key" : 'oef/public-key.md'
    - How It Works:
      - "Registering" : 'oef/registering.md'
      - "Advertising" : 'oef/advertising.md'
      - "Searching" : 'oef/searching.md'
      - "Negotiating" : 'oef/negotiating.md'
    - Python API:
      - "Python API" : 'oef/python-API.md'

  - Etch Language:
    - Welcome:
        - "What's etch?": 'etch-language/index.md'
        - 'Getting started': 'etch-language/getstarted.md'
        - 'Debugging': 'etch-language/debug.md'
        - 'Release notes': 'etch-language/release-notes.md'
    - The Basics:
        - 'Syntax': 'etch-language/syntax.md'
        - 'Variables': 'etch-language/variables.md'
        - 'Operators': 'etch-language/operators.md'
        - 'Logical operators': 'etch-language/logic.md'
        - 'Control flow': 'etch-language/control-flow.md'
        - 'Strings': 'etch-language/strings.md'
        - 'Arrays': 'etch-language/arrays.md'
        - 'Functions': 'etch-language/functions.md'
        - 'Error checking': 'etch-language/error-checking.md'
    - Smart Contracts:
        - 'Introduction': 'etch-language/smart-contract-intro.md'
        - 'States': 'etch-language/states.md'
        - 'Sharded State': 'etch-language/sharded-state.md'
        - 'Memory': 'etch-language/memory.md'
        - 'Addresses': 'etch-language/addresses.md'
        - 'Cryptography': 'etch-language/crypto.md'
      #  - 'Transactions': 'etch-language/transactions.md'
        - 'Smart contracts': 'etch-language/smart-contracts.md'
        - 'Executing smart contract code': 'etch-language/executing-smart-contract-code.md'
    - Machine Learning:
        - 'Maths libraries and functions': 'etch-language/maths-libs.md'
        - 'Machine learning and AI': 'etch-language/ML-AI.md'
    - Extending Etch:
        - 'Extending etch in C++': 'etch-language/extending-etch.md'
    - Examples: 
        - 'Fetch logo': 'etch-language/examples/fetch-logo.md'
        - 'Mandelbrot': 'etch-language/examples/mandelbrot.md'
        - 'Searching algorithms': 'etch-language/examples/searching-algorithms.md'
        - 'Sorting algorithms': 'etch-language/examples/sorting-algorithms.md'


# Options
extra:
  logo: 'assets/images/favicon.ico'

markdown_extensions:
  - pymdownx.superfences
  - admonition

extra_css:
    - css/my-styles.css