site_name: Developer Documentation
site_url: https://docs.fetch.ai/
site_description: Everything you need to know about Fetch.ai.
edit_uri: ""
site_author: developer@fetch.ai

theme:
  name: material
  language: en
  palette: # Set light/dark theme button next to the search bar
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  logo: images/logo.png  # Set Fetch Logo top left
  favicon: images/favicon.ico  # Set Fetch favicon
  features:
    - navigation.instant # Fast page loading
    - navigation.tracking # URL automatically updated with the currently active anchor
#    - navigation.sections # Top level sections will be visible and grouped in sidebar
    - navigation.top # Back-to-top button
    - search.suggest # Completion for the searched word (can be accepted with ->).
    - search.highlight # Highlight all occurrences after following a search result link
    - search.share # Show share button for copying deep link to the current search query and result
  custom_dir: overrides # Needed for announcements

copyright: Copyright &copy; 2018 - 2022 Fetch.ai # Copyright notice in footer

nav:
  - Home : "index.md"
  - Bug Bounty Program: "bug_bounty.md"
  - Ledger: '!include ./ledger/docs/mkdocs.yml'
  - Cosmpy: '!include ./cosmpy/mkdocs.yml'
  - AEA Framework: '!include ./aea/mkdocs.yml'
  - Collective Learning: '!include ./colearn/mkdocs.yml'
  - Archives:
    - Search and Discovery (SOEF):
      - Simple OEF: 'soef/simple-oef.md'
      - SOEF Connection: 'soef/simple-oef-usage.md'

extra_css:  # Required for the Fetchy design style
  - css/style.css

markdown_extensions:
  - attr_list # Required by images
  - admonition # Required by admonitions
  - pymdownx.superfences # Required by admonitions, annotations, tabs. Enables arbitrary nesting of code and content blocks
  - pymdownx.highlight: # Required by code blocks
      anchor_linenums: true
  - pymdownx.inlinehilite # Required by code blocks
  - pymdownx.snippets # Required by code blocks
  - pymdownx.superfences # Required by admonitions, code blocks
  - pymdownx.details # Required by admonitions, code blocks
  - attr_list # Required by annotations
  - md_in_html # Required by annotations
  - pymdownx.tabbed: # Required by tabs
      alternate_style: true
  - tables # # Required by tables
  - markdown_include.include:
      base_path: ./colearn/docs

extra_javascript:
    - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js

plugins:
  - monorepo
  - search # Enables search
  - macros # Enables using variables, e.g. {{ repo_root }}

extra:
  repo_root: https://github.com/fetchai/colearn/tree/master/
  generator: false
  analytics:
    provider: google
    property: UA-118969813-3
  social:
    - icon: fontawesome/brands/twitter
      link: https://bit.ly/3oDuI3f
      name: fetch.ai on twitter
    - icon: fontawesome/brands/telegram
      link: https://t.me/fetch_ai
      name: fetch.ai on telegram
    - icon: fontawesome/brands/discord
      link: https://bit.ly/3ra5uMI
      name: fetch.ai on discord
    - icon: fontawesome/brands/github
      link: https://bit.ly/3AFCWxl
      name: fetch.ai on githubs
    - icon: fontawesome/brands/reddit
      link: https://bit.ly/30zS1Tg
      name: fetch.ai on reddit
    - icon: fontawesome/brands/youtube
      link: https://bit.ly/3DxFazs
      name: fetch.ai on youtube
    - icon: fontawesome/brands/linkedin
      link: https://bit.ly/3kNO70p
      name: fetch.ai on linkedin
