site_name: Developer Documentation
site_url: https://docs.fetch.ai/
site_description: Everything you need to know about Fetch.ai.
repo_url: https://github.com/fetchai/docs
edit_uri: '' # currently doesn't work with monorepo
site_author: developer@fetch.ai

google_analytics: ['UA-118969813-3', 'auto']


theme:
  name: material
  logo: images/logo.png
  favicon: assets/images/favicon.ico
  feature:
    tabs: true
  custom_dir: custom_theme

nav:
  - Home : "index.md"

  - Agent Framework: '!include ./aea/mkdocs.yml'

  - Search and Discovery (SOEF):
    - Simple OEF: 'soef/simple-oef.md'
    - SOEF Connection: 'soef/simple-oef-usage.md'

  - Ledger: '!include ./ledger/docs/mkdocs.yml'

  - Incentivized Testnets:
    - Introduction: 'i_nets/index.md'
    - Agent World 1: 'i_nets/quickstart-aw1.md'
    - Agent World 2: 'i_nets/quickstart-aw2.md'
    - Agent World 3: 'i_nets/quickstart-aw3.md'
    - Beacon World 1: 'i_nets/quickstart-bw1.md'
    - Agent World 4: 'i_nets/quickstart-aw4.md'




  - Collective Learning: '!include ./colearn/mkdocs.yml'

extra_css:
  - css/style.css

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight


extra_javascript:
    - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js

plugins:
  - monorepo
  - search
  - macros  # use variables, e.g. {{ repo_root }}

extra:
  repo_root: https://github.com/fetchai/colearn/tree/master/