[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "==3.25.1"

[packages]
mkdocs-material = "==9.0.11"
mkdocs-monorepo-plugin = "==1.0.4"
mkdocs-macros-plugin = "==0.7.0"
markdown-include = "==0.8.0"

[requires]
python_version = "3.9"
