[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "==3.15.1"

[packages]
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
mkdocs-gitbook = "*"
libsass = "*"
mkdocs-mermaid-plugin = {editable = true,git = "https://github.com/pugong/mkdocs-mermaid-plugin.git"}

[requires]
python_version = "3.7"
