[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "==3.25.1"

[packages]
mkdocs-material = "==9.0.5"
mkdocs-monorepo-plugin = "==1.0.3"
mkdocs-macros-plugin = "==0.7.0"
markdown-include = "==0.7.0"
mkdocs-mermaid-plugin = {editable = true,git = "https://github.com/pugong/mkdocs-mermaid-plugin.git"}

[requires]
python_version = "3.9"
