</nav>
</div>

<div align="right">
  <div class="md-footer-meta md-typeset">	
    <div class="md-footer-meta__inner md-grid">	
      <div class="md-footer-copyright">	
        {% if config.copyright %}	
          <div class="md-footer-copyright__highlight">	
            {{ config.copyright }}	
          </div>	
        {% endif %}	
        <a href="http://fetch.ai" title="Fetch.AI" target=_blank>Fetch.AI &copy 2019</a>	
      </div>	
      {% block social %}	
        {% include "partials/social.html" %}	
      {% endblock %}	
    </div>	
  </div>
</div>
</footer>