pre {
    background-color: #f8f8f7;
}

code {
    background-color: #0083fb;
}

#mkdocs-search-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vh 0;
    z-index: 2;
    display: none; //flex;
    align-items: center;
    padding: 0;
}
#mkdocs-search-wrapper:before {
    content: 'Search results:';
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 2;
    padding: 4px 2vw;
    margin: 0px 28px 0 0;
    font-size: 4rem;
    color: #337ab7;
    width: 100vw;
    background: white;
    border-bottom: 1px solid lightgray;
    width: 80vw;
}
#mkdocs-search-wrapper button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10vh;
    right: 10vw;
    color: black;
    z-index: 2;
    margin: 10px 10px 0 0;
    font-size: 4rem;
    line-height: 0;
    font-weight: bold;
}
#mkdocs-search-results {
    height: 80vh;
    margin: 10vh 10vw 0;
    overflow-y: scroll;
    position: relative;
    padding: 0; //65px 0 0;
    background-color: white;
}
#mkdocs-search-results:before {
    content: '';
    background: white;
}
#mkdocs-search-results article {
    background-color: white;
    padding: 4px 2vw;
}
#mkdocs-search-query,
#mkdocs-search-query:hover {
    padding-left: 20px;
    position: relative;
}
#mkdocs-search-query.pop-over,
#mkdocs-search-query.pop-over:focus,
#mkdocs-search-query.pop-over:hover {
    position: fixed;
    z-index: 2;
    top: 10vh;
    left: 10vw;
    margin: 15px 0 0 316px;
    border: 1px solid gray;
    width: 200px;
    background-color: #dfdfdf;
}

/* this doesn't work now
.md-nav__link {
  text-transform: uppercase;
  color: #0083fb;
}
*/

p {
    font-size: 17px !important;
    font-weight: 300 !important;
}

/* Katharine's css additions */
.md-header,
.md-tabs,
.md-footer-meta,
.md-footer-nav,
.md-footer-nav__inner {
    background-color: #172b6e;
}

.md-nav__title {
    color: #172b6e;
}

.md-icon {
    ./assets/images/favicon.ico;
}

.menuheader {
    height: 120px;
    background-color: #1e2844;
    width: 100%;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
}

.headerlogo img {
    width: 180px;
    display: inline-block;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

.menu {
    float: right;
    display: inline-block;
    color: #f7f7f7;
    margin-top: 12px;
}

.menu a {
    color: #f7f7f7;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
    list-style-type: none;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lightfont {
    color: #666666;
}

.lighterfont {
    color: #888888;
}

.bottomnav {
    width: inherit;
    //	height: 120px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* background: red; */
    margin-bottom: 20px;
}

.button.left,
.button.right {
    color: white;
    background-color: darkblue;
    min-width: 100px;
    /* display: flex;
  justify-content: space-around; */
    max-width: 30%;
    border-radius: 4px;
    text-overflow: ellipsis;
    text-decoration: none;
}
.button.left:hover,
.button.right:hover {
    background-color: blue;
}

.leftButton {
    /* float: right; */
    /* height: 100px; */
    /* background-color: #fff; */
    /* border: solid;
	display: inline-block; */
}

.rightButton {
    /* float: right; */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: #fff; */
    /* border: solid;
	display: inline-block; */
}

.header-wrap {
    background-color: #1e2844;
    display: block;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: #fff;
}

*,
:after,
:before {
    box-sizing: border-box;
    outline: 0 !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-box {
    border: 1px solid black;
}
.div1 {
    grid-area: 1 / 1 / 2 / 2;
    column-span: 2;
}
.div2 {
    grid-area: 1 / 1 / 2 / 3;
}
.div3 {
    grid-area: 2 / 1 / 3 / 2;
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.div5 {
    grid-area: 3 / 1 / 4 / 2;
}
.div6 {
    grid-area: 3 / 1 / 4 / 3;
}
.div7 {
    grid-area: 4 / 1 / 5 / 3;
}

.summary > ul {
    /*display: none;*/
    list-style-type: none;
    padding: 0;
    list-style-type: none;
}

.summary > ul > li {
    list-style: none;
}

.summary > li {
    list-style: none;
    font-weight: bold;
}

ul > .multi::after {
    content: ' +';
}

ul > .multi-opened::after {
    content: ' -';
}

.head {
    font-size: 20px;
    text-decoration: none;
    color: #222;
}

.sub-head {
    font-size: 18px;
    text-decoration: none;
    color: #222;
}

.header {
    font-size: 18px;
    text-decoration: none;
    color: #222;
    font-weight: 200;
}

select {
    text-transform: none;
    width: 200px;
}

.markdown-section h1 {
    font-size: 2em;
    font-weight: 400;
}

.markdown-section h2 {
    font-size: 1.75em;
    font-weight: 400;
}

.version {
    padding-bottom: 10px;
}

/* GRID to be tidied*/

.grid-container {
    display: grid;
    grid-gap: 1px;
    width: inherit;
    margin: 0 auto;
    height: 100%;
}

.grid-container p {
    font-size: 17px;
    font-weight: 300;
}

.grid-container h1 {
    font-weight: 200;
}

.grid-container h2 {
    text-align: center;
}

.grid-container h3 {
    font-weight: 200;
}

.grid-item {
    /*background-color: white;*/
    padding: 20px;
    padding-bottom: 40px;
    margin: 4px;
}

.grid-item {
    color: #222;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;

    border: solid 1px lightgrey;
}

.item1 h4 {
    padding-top: 10vh;
    font-size: 24px;
    font-weight: 100;
}

.item2 {
    grid-column: 1;
    border: solid 1px lightgrey;
    border-radius: 3px;
    height: 220px;
}

.item3 {
    grid-column: 2;
    border: solid 1px lightgrey;
    border-radius: 3px;
    height: 220px;
}

.no-padding {
    padding: unset;
}
.item_whole_row {
    grid-column: 1 / span 2;
}

.dropdown-content a {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 18px;
    padding: 4px;
    color: #555;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 18px;
    padding: 4px;
    text-decoration: none;
}
nav#nav .head {
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
nav#nav .head:hover {
    text-decoration: underline;
}
nav#nav li a {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #222;
}
nav#nav .head {
    font-size: 20px;
}
nav#nav .head .head {
    font-size: 18px;
}
nav#nav > ul ul {
    max-height: 0;
    transition: max-height 1s;
    overflow: hidden;
}
nav#nav > ul ul.show {
    transition: max-height 1s;
    max-height: 2000px;
}
