pre {
  background-color: #f8f8f7;
}

code {
  background-color: #0083fb;
}

/* this doesn't work now
.md-nav__link {
  text-transform: uppercase;
  color: #0083fb;
}
*/

/* Katharine's css additions */
.md-header, .md-tabs, .md-footer-meta, .md-footer-nav, .md-footer-nav__inner {
	background-color:  #172b6e; 
}

.md-nav__title {
	color:  #172b6e;
}

.md-icon {
	./assets/images/favicon.ico
}

.menuheader {
	height: 100px;
	background-color: #1e2844;
	width: 100%;
	top: 0;
}

.headerlogo img {
  width: 180px;
  display: inline-block;
  float: left;
  margin-top: 25px;
  margin-left: 25px;
}

.menu{
  float: right;
  display: inline-block;
  color: #f7f7f7;
}

.menu a{
  color: #f7f7f7;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
    list-style-type: none;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lightfont {
  color: #666666;
}

.lighterfont {
  color: #888888;
}

.bottomnav{
  width: inherit;
  height: 120px;
}

.leftButton{
    float: right;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: solid;
    display: inline-block;
}

.rightButton{
    float: right;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: solid;
    display: inline-block;
}
