/* overriding colours */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #4051b5;
  --md-typeset-color: #525252;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #fff;
  --md-typeset-color: #d0d6fc;
}

/*overriding the header*/
.md-header-nav__button.md-logo img {
  width: auto !important;
}

.md-nav__button .md-logo {
  width: auto !important;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: #202943 !important;
  }

  .md-nav--primary .md-nav__title[for="__drawer"] img {
    width: 180px;
    height: auto;
  }
}

.md-header {
  background-color: #202943 !important;
  padding: 10px;
  height: auto;
}

/*home page styling*/

#header-image-div {
  display: flex;
}

#header-image {
  max-height: 35vh;
  margin: 0 auto;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: white;
}

.grid_item {
  padding: 15px;
  border-radius: 5px;
}

.div1 {
	grid-area: 1 / 1 / 3 / 4;
	background-color: #121A30;
	padding-top: 160px;
	text-align: right;
	padding-right: 30px;
}
/* .div2 { grid-area: 3 / 1 / 4 / 4; background-color: #80D2C6} */
/* .div3 { grid-area: 4 / 1 / 5 / 2; background-color: #F0F0F0; height: 260px;} */
.div4 {
  grid-area: 3 / 1 / 3 / 2;
  background-color: #f0f0f0;
  height: 260px;
  color: #222;
}
.div5 {
  grid-area: 3 / 2 / 3 / 3;
  background-color: #f0f0f0;
  height: 260px;
  color: #222;
}
.div6 {
  grid-area: 4 / 1 / 6 / 4;
  margin: 1px solid black;
  color: #222;
}
.div7 {
  grid-area: 6 / 1 / 7 / 4;
  margin: 1px solid black;
  color: #222;
}
.div8 {
  grid-area: 7 / 1 / 8 / 4;
  margin: 1px solid black;
  color: #222;
}
.div9 {
  grid-area: 8 / 1 / 9 / 4;
  margin: 1px solid black;
  color: #222;
}

.black-link {
  color: black !important;
}

.md-nav__item .md-nav__link--active {
  padding: 4px 8px;
  position: relative;
  left: -8px;
  background: #e9ebfc;
  border-radius: 16px;
  width: fit-content;
}

/*overriding the announcement style*/
.md-banner {
  color: white;
  background-color: #3b82f6;
  text-align: center;
}

.md-banner .announcement-link {
  color: white;
}

.md-banner .announcement-link:hover {
  color: hsla(0, 100%, 100%, 0.7);
}

/* Adding card styling */

.card-button {
  height: 154px;
  width: 248px;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  transition: all 100ms ease-out !important;
  transform: scale(1);
}

.card-button:hover {
  transform: scale(1.05);
}

.card-button-text {
  align-self: flex-end;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-align: right;
}
.card-button-icon {
  font-size: 48px;
  line-height: 100%;
}

.card-button-container {
  color: hsla(0, 100%, 100%, 0.7);
}

/* Form Styling */
/* VARIABLES */
:root {
  --md-primary-fg-color-dark: #3949a2;
  --muted-color: #c6c6c6;
  --trans-time: 300ms;
  --width: 320px;
}
/* Responsive variables */
@media (max-width: 480px) {
  :root {
    --width: 100%;
  }
}

/* FORM */
.form-wrapper hr.sep {
  background: var(--md-primary-fg-color);
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
.form-wrapper .form-label {
  margin-bottom: 0.75rem;
}
.form-wrapper .form-label label {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 400;
  word-break: break-word;
}
.form-wrapper .form-label .required-mark {
  color: #d93025;
  padding-left: 0.25em;
}

.form-wrapper .group {
  position: relative;
  margin: 45px 0;
}

/* INPUTS */
.form-wrapper textarea {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper textarea {
  background: none;
  font-size: 16px;
  padding: 5px;
  display: block;
  width: var(--width);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--muted-color);
}
.form-wrapper input[type="text"]:focus,
.form-wrapper input[type="email"]:focus,
.form-wrapper textarea:focus {
  outline: none;
}
.form-wrapper input[type="text"]:focus ~ label.input-label,
.form-wrapper input[type="text"]:valid ~ label.input-label,
.form-wrapper input[type="email"]:focus ~ label.input-label,
.form-wrapper input[type="email"]:valid ~ label.input-label,
.form-wrapper textarea:focus ~ label.input-label,
.form-wrapper textarea:valid ~ label.input-label {
  top: -14px;
  font-size: 12px;
  color: var(--md-primary-fg-color);
}
.form-wrapper input[type="text"]:focus ~ .bar:before,
.form-wrapper input[type="email"]:focus ~ .bar:before,
.form-wrapper textarea:focus ~ .bar:before {
  width: var(--width);
}

.form-wrapper label.input-label {
  color: var(--muted-color);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: var(--trans-time) ease all;
}

.form-wrapper .bar {
  position: relative;
  display: block;
  width: var(--width);
}
.form-wrapper .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--md-primary-fg-color);
  transition: var(--trans-time) ease all;
  left: 0%;
}

/* BUTTONS */
.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 106px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: var(--md-primary-fg-color);
  color: #e2e5f4;
}
.btn.btn-link:hover {
  background: var(--md-primary-fg-color-dark);
  color: #fff;
}

.btn.btn-submit {
  background: var(--md-primary-fg-color);
  color: #e2e5f4;
}
.btn.btn-submit:hover {
  background: var(--md-primary-fg-color-dark);
  color: #fff;
}

.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

/* Radio */
.radio-group > label {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 665px) {
  .card-button-container .four {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-button-container .four > .card-button {
    margin-right: 8px;
  }
}
