/*
header.scss
*/
@import './colours.scss'; // Keep in step with docs colours.scss (single repo would be good)
@import './media-queries.scss'; // Keep in step with docs colours.scss (single repo would be good)

header {
	background-color: $primary-colour;
	border-bottom: white 1px solid;
	width: 100%;
	left: 0;
	top: 0;
	position: relative;
	display: flex;
	justify-content: space-around;

	div {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		a {
			cursor: pointer;
			line-height: initial;
		}
		.logo {
			width: 220px;
			display: block;
		}
		ul {
			a {
				font-size: 1rem;
				font-weight: 400;
				&:link,
				&:visited,
				&:hover,
				&:active,
				&:focus {
					color: #f7f7f7;
					text-decoration: none;
				}
			}
			text-align: center;
			display: flex;
			justify-content: space-around;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0 2vw;
				line-height: initial;
				&:last-of-type {
					margin: 0 0 0 2vw;
				}
			}
		}
	}
}

@include respond-above(l) {
	header {
		div.corset {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			nav {
				ul {
					justify-content: space-between;
					li {
						margin: 0 0.8vw;
						text-align: center;
						&:last-of-type {
							margin-right: 0;
						}
						a {
							font-size: 1rem;
							padding: 0 2vw;
						}
					}
				}
			}
		}
	}
}
@include respond-above(xl) {
	header {
		div.corset {
			nav {
				ul {
					li {
						a {
							font-size: 1.3rem;
							padding: 0 2vw;
						}
					}
				}
			}
		}
	}
}
@include respond-above(xxl) {
	header {
		div.corset {
			nav {
				ul {
					li {
						a {
							font-size: 1.4rem;
							padding: 0 1.6vw;
						}
					}
				}
			}
		}
	}
}
