/*
layout.scss
*/
@import './variables.scss';
@import './colours.scss';
html.debug {
	.corset,
	.inner,
	.logo,
	nav ul li,
	nav ul li a {
		box-shadow: 0 0 8px white inset;
	}
}
#root,
#page-container,
#content-wrap {
	width: 100%;
}
$hamburger-size: 32px;
#hamburger{
    width: $hamburger-size;
    height: $hamburger-size;
	display: block;
	position: absolute;
	left: 50px;
	top: 50px;
	margin: -$hamburger-size/2 0 0 -$hamburger-size/2;
	z-index: 99;
    font-size: 1.2rem;
    // Not sure why but button styling disappears in Chrome at the iphone 5 level? Artifically reintroduce, here:
    background-color: #f0f0f0;
    border-color: rgb(216,216,216) rgb(209,209,209) rgb(186,186,186);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
	i {
        cursor: pointer;
        &.fa-times{
            display: none;
        }
        &.fa-bars{
            display: block;
        }
	}
}
#qst {
	grid-row-gap: 8px;
	grid-column-gap: 8px;
	.item1 {
		grid-column: 1 / span 3;
		grid-row: 1;

		border: solid 1px lightgrey;
		h4 {
			padding-top: 10vh;
			font-size: 24px;
			font-weight: 100;
			font-weight: 400;
			color: white;
		}
		background-color: #1e2844;
		margin: 0;
	}

	#ledg,
	#aea,
	#run {
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
		border: solid 1px #e3f9fc;
		border-radius: 3px;
		background: #e3f9fc;
		color: black;
		margin: 0;
		&:hover {
			font-weight: 400;
		}
	}
}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: $footer-height;
}

$content-width: 96vw;
.corset,
#popup {
	max-width: $content-width;
	width: $content-width;
	margin: auto;
}

section {
	padding-bottom: $section-bottom-padding;
	position: relative;
}
$header-height: 100px;
header {
	height: $header-height;
}
/* Side menu */
html {
    #book-search-input{
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
	.book {
		&-summary {
            position: relative;
			float: none;
			margin-top: 0;
			background-color: $overlay;
			width: 100vw;
			display: none;
			overflow-y: visible;
			cursor: pointer;
			> div {
				left: 0;
                width: 100vw;
				background: white;
                overflow: hidden;
			}
		}
		&-body {
			margin-left: auto;
		}
	}
	&.show-side-menu {
        #book-search-input{
            display: none;
        }
		.book {
			&-summary {
                display: block;
            }
            &-body{
                display: none;
            }
        }
        #hamburger{
            i{
                &.fa-times{
                    display: block;
                }
                &.fa-bars{
                    display: none;
                }
            }
        }
	}
}


@media screen and (orientation: landscape) {
	$header-height: 28vh;
	header {
		height: $header-height;
	}
	#qst {
		#aea {
			grid-row: 2;
			grid-column: 1;
		}
		#ledg {
			grid-row: 2;
			grid-column: 2;
		}
		#run {
			grid-row: 2;
			grid-column: 3;
		}
	}
}
@include respond-above(s) {
	$content-width: 80vw;
	.corset,
	#popup {
		max-width: $content-width;
		margin: auto;
		position: relative;
	}
	header {
		height: $header-height;
		font-size: 0.8rem;
		div {
			ul {
				li {
					a {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	#qst {
		#aea {
			grid-row: 2;
			grid-column: 1;
		}
		#ledg {
			grid-row: 2;
			grid-column: 2;
		}
		#run {
			grid-row: 2;
			grid-column: 3;
		}
	}
	@media screen and (orientation: landscape) {
		$header-height: 28vh;
		header {
			height: $header-height;
		}
	}
}
@include respond-above(m) {
	$content-width: 80vw;
	.corset {
		max-width: $content-width;
		margin: auto;
		position: relative;
	}
	header {
		height: $header-height;
	}

	@media screen and (orientation: landscape) {
		$header-height: 28vh;
		header {
			height: $header-height;
		}
	}
}
@include respond-above(l) {
	$header-height: 10vh;
	header {
		height: $header-height;
	}
	#hamburger {
		display: none;
	}
	html {
        #book-search-input{
            max-width: none;
            margin-left: initial;
            margin-right: initial;
        }
		.book {
			display: grid;
			grid-template-columns: 300px;
			height: auto;
			overflow: initial;
			#book-search-input {
                max-width: none;
				grid-row-start: 1;
				grid-column-start: 1;
				grid-column-end: 3;
			}
			&-summary {
				background: transparent;
				grid-row-start: 2;
				grid-column-start: 1;
				position: relative;
				background: white;
				width: auto;
                display: block;

				& > div {
					position: relative;
					top: 0;
					max-height: none;
					box-shadow: none;
					transform: none;
                    overflow: visible;
                    width: auto;
				}
			}
			&-body {
				grid-row-start: 2;
				grid-column-start: 2;
                margin-left: 0;
                display: block;
			}
		}
	}
}
@include respond-above(xxl) {
	$content-width: 1200px;
	.corset,
	#popup {
		max-width: $content-width;
		width: $content-width;
	}
}
