/*
layout.scss
*/
@import './variables.scss';
@import './colours.scss';
html.debug {
	.corset,
	.inner,
	.logo,
	nav ul li,
	nav ul li a {
		box-shadow: 0 0 8px white inset;
	}
}
#root,
#page-container,
#content-wrap {
	width: 100%;
}
#qst {
	grid-row-gap: 8px;
	grid-column-gap: 8px;
	.item1 {
		grid-column: 1 / span 2;
		grid-row: 1;

		border: solid 1px lightgrey;
		h4 {
			padding-top: 10vh;
			font-size: 24px;
			font-weight: 100;
			font-weight: 400;
			color: white;
		}
		background-color: #1e2844;
		margin: 0;
	}

	#qs,
	#tut {
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
		border: solid 1px #e3f9fc;
		border-radius: 3px;
		height: 220px;
		background: #e3f9fc;
		color: black;
		margin: 0;
		&:hover {
			font-weight: 400;
		}
	}
}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: $footer-height;
}

$content-width: 96vw;
.corset,
#popup {
	max-width: $content-width;
	width: $content-width;
	margin: auto;
}

section {
	padding-bottom: $section-bottom-padding;
	position: relative;
}
$header-height: 16vh;
header {
	height: $header-height;
}
/* Side menu */
html {
	.book {
		&-summary {
			position: fixed;
			top: 0;
			float: none;
			margin-top: 0;
			background-color: $overlay;
			width: 100vw;
			min-height: 100vh;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.5s, visibility 0.5s;
			overflow-y: visible;
			cursor: pointer;
			> div {
				position: absolute;
				top: $header-height;
				left: 0;
				max-width: 95vw;
				max-height: 100vh - $header-height;
				box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
				background: white;
				transform: rotateY(90deg);
				transform-origin: left;
				transition: transform 0.5s;
				overflow-y: scroll;
			}
		}
		&-body {
			margin-left: auto;
		}
	}
	&.show-side-menu {
		body {
			overflow: hidden; // to prevent scrolling when menu displayed
			height: 100vh;
		}
		.book {
			&-summary {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.5s, visibility 0s;
				> div {
					left: 0;
					transform: rotateY(0deg);
					transition: transform 0.5s;
				}
			}
		}
	}
}

#hamburger {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 1rem;
	z-index: 99;
	font-size: 1.2rem;
	cursor: pointer;
	&i {
		cursor: pointer;
	}
}

// NEED TO BE KEPT TOGETHER
// $header-height: 18vh;

// header {
// 	height: $header-height;
// }
@media screen and (orientation: landscape) {
	$header-height: 28vh;
	header {
		height: $header-height;
	}
	#hero {
		min-height: 100vh - $header-height;
		height: 100vh - $header-height;
	}
	html .book {
		&-summary {
			> div {
				top: $header-height;
			}
		}
	}
	#qst {
		#qs {
			grid-column: 1;
			grid-row: 2;
		}
		#tut {
			grid-column: 2;
			grid-row: 2;
		}
	}
}
@include respond-above(s) {
	$header-height: 18vh;
	$content-width: 80vw;
	.corset,
	#popup {
		max-width: $content-width;
		margin: auto;
		position: relative;
	}
	header {
		height: $header-height;
		font-size: 0.8rem;
		div {
			ul {
				li {
					a {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	html .book {
		&-summary {
			> div {
				top: $header-height;
			}
		}
	}
	@media screen and (orientation: landscape) {
		$header-height: 28vh;
		header {
			height: $header-height;
		}
		#hero {
			min-height: 100vh - $header-height;
			height: 100vh - $header-height;
		}
		html .book {
			&-summary {
				> div {
					top: $header-height;
				}
			}
		}
	}
}
@include respond-above(m) {
	$header-height: 16vh;
	$content-width: 80vw;
	.corset {
		max-width: $content-width;
		margin: auto;
		position: relative;
	}
	header {
		height: $header-height;
	}
	html .book {
		&-summary {
			> div {
				top: $header-height;
			}
		}
	}

	@media screen and (orientation: landscape) {
		$header-height: 28vh;
		header {
			height: $header-height;
		}
		html .book {
			&-summary {
				> div {
					top: $header-height;
				}
			}
		}
	}
}
@include respond-above(l) {
	$header-height: 10vh;
	header {
		height: $header-height;
	}
	#hamburger {
		display: none;
	}
	html {
		.book {
			display: grid;
			grid-template-columns: 300px;
			height: auto;
			overflow: initial;
			#book-search-input {
				grid-row-start: 1;
				grid-column-start: 1;
				grid-column-end: 3;
			}
			&-summary {
				background: transparent;
				grid-column-start: 1;
				grid-row-start: 2;
				position: relative;
				background: white;
				width: auto; //300px;
				visibility: visible;
				opacity: 1;

				& > div {
					position: relative;
					top: 0;
					max-height: none;
					box-shadow: none;
					transform: none;
					overflow: visible;
				}
			}
			&-body {
				grid-column-start: 2;
				grid-row-start: 2;
				margin-left: 0;
			}
		}
	}
}
@include respond-above(xxl) {
	$content-width: 1200px;
	.corset,
	#popup {
		max-width: $content-width;
		width: $content-width;
	}
}
