/*
reset.scss
*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

/* Don't like doing this but override some of bootstrap */
html {
	font-size: 16px;
	// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	// font-family: @font-family-base;
	// font-size: @font-size-base;
	// line-height: @line-height-base;
	// color: @text-color;
	// background-color: @body-bg;
}
