wy-side-nav-shift  {
	background-color: white;
}
div.wy-side-nav-search {
	background-color: white;
}
nav.wy-side-scroll  {
	background-color: white;
}
nav.wy-nav-side  {
	background-color: white;
}


